h1{
  font-size: 100px;
  color: black;
  font-family: georgia;
  padding-left: 50px;
  padding-top: 25px;
  margin-bottom: 0px;

}
h4 {
font-size: 30px;
color: solid black;
font-family: georgia;
padding-bottom: 150px;
padding-left: 50px;
margin-top: 0px;
}

.container
{
  margin: 50px;

  background-color: azure;
}


.sidhuvud {

   background-image: url("glob.jpg");
   background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 20px;

}


.sprak
{
  display: flex;
justify-content:flex-start;}



.sprakrubbe h3{
font-size: 20px;
color: #000000;
font-family: Georgia;
padding-bottom: 15px;
padding-top: 10px;
}

.sprakrubbe
{padding-left: 50px;
  }

.sprakbilder
{
  display: flex;
justify-content:flex-start;}

.sprakbilder img {
  height: 30px;
  padding: 10px;
  padding-top: 10px
  padding-bottom: 10px;}

.sprak img {
    filter: opacity(70%);
}

.sprak {
  background-color: LightSkyBlue;
  height: 50px;
}

.flagga img {
  height: 30px;
  padding: 10px;
  margin-top: 50px;
  padding-top: 10px
  padding-bottom: 10px;
 }



.toppnyhet
{display: flex;
justify-content: center;}

.nyhet {

  padding: 30px;
}

.nyhet img {
  width: 350px;
  height: 200px;
}

.nyhet h2 {
  font-size: 30px;
  ;
}

.nyhet p {margin-top: 20px;
  margin-bottom: 20px;
font-size: 20px}

.nyhet

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}



.fyrlingar{
  display: flex;
  justify-content: center;
}
.fyrlingar h2 {font-size: 30px;
  padding-top: 15px;}






@media (max-width: 600px)



{ h1 {font-size: 55px;
  padding-left: 20px;
  padding-top: 40px;
  color: black;


}

h4 {font-size: 22px;
padding-top: 5px;
padding-left: 20px;
padding-bottom: 20px;}

.sprak h3 {font-size: 18px;}

.sprak img {height: 30px;
padding-top: 10px;
}

.sprakrubbe
{padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
}


.undernyhet h2 {font-size: 30px;}

.fyrlingar h2 {font-size: 30px;}

.sprak {
  background-color: LightSkyBlue;
  height: 40px;
}

.toppnyhet{
display: block;
 }

.fyrlingar{
  display: block;
}

.sidhuvud {
   ;
   background-repeat: no-repeat;
background-size: 100%;
background-position: center;
margin: 0px;
}
.sprakbilder {overflow-x: scroll;

}

.container {
  margin: 10px;

  background-color: white;
}


}
